<div class="text-center">
  <h1 class="margin-bottom-lg">today's forecast</h1>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag forecasts_path, class: 'form-inline', method: :get do %>
        <%= text_field_tag 'search', params[:search], class: 'form-control large-inline-input', placeholder: 'what weather would you like to see?' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="image-overlay margin-top-md">
    <%= image_tag @image, class: 'weather-icon' %>
    <p class="margin-top-lg weather-description"><%= @results %></p>
  </div>
</div>